button {
  padding: 12px 20px; 
  border: none;
  color: var(--text-title);
  font: var(--button);
  border-radius: 0.5rem;
  cursor: pointer;

  &.primary {
    background-color: var(--pink-dark);

    &:hover {
      background-color: var(--pink-base);
    }
  }

  &.secondary {
    background-color: var(--blue-dark);

    &:hover {
      background-color: var(--pink-mid);
    }
  }
}