@import url(../styles/kitimage.css);

.monthly-kit {

  text-align: center;
  padding-top: 6.375rem;

  p {
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    font: 400 0.875rem/140% var(--font-family);
  }

  h2::before, h2::after {
    content: "";
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background: url(../assets/icons/star-title.svg) center;
  }

  @media (width >= 1280px) {
    h2::before, h2::after {
      width: 2rem;
      height: 2rem;
    }
  }

  h2::before {
    margin-right: 0.75rem;
  }

  h2::after {
    margin-left: 0.75rem;
  }
}
